*
!.gitignore

!.vimrc
!.profile
!.xprofile
!.XCompose

!.emacs
!.emacs.d/
.emacs.d/*
!.emacs.d/Cask

!.bash_colors
!.bash_preexec
!.bashrc

!.looking-glass-client.ini

!.xmonad/
.xmonad/*
!.xmonad/xmonad.hs

!.config
.config/*

!.config/picom.conf
!.config/klipperrc
!.config/systemmonitorrc
!.config/dolphinrc

!.config/mpv
.config/mpv/*
!.config/mpv/mpv.conf

!.config/i3
.config/i3/*
!.config/i3/config

!.config/dunst
.config/dunst/*
!.config/dunst/dunstrc

!.config/rofi
.config/rofi/*
!.config/rofi/config.rasi

!.config/systemd
.config/systemd/*
!.config/systemd/user
.config/systemd/user/*
!.config/systemd/user/plasma-xmonad.service
!.config/systemd/user/plasma-kwin_x11.service
!.config/systemd/user/plasma-workspace.target.wants
.config/systemd/user/plasma-workspace.target.wants/*
!.config/systemd/user/plasma-workspace.target.wants/plasma-xmonad.service

!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/ffmpeg-mute
!.local/bin/chrome-headless
!.local/bin/emacsclient-wrapper
!.local/bin/git-xworktree

!.local/share/
.local/share/*
!.local/share/konsole/
.local/share/konsole/*
!.local/share/konsole/scrollback-unlimited.profile

!.local/share/applications/
.local/share/applications/*
!.local/share/applications/emacsclient-wrapper.desktop