*
!.gitignore
!.emacs
!.emacs.d/
.emacs.d/*
!.emacs.d/Cask
!.bash_colors
!.bash_preexec
!.bashrc
!.xmonad/
.xmonad/*
!.xmonad/xmonad.hs
!.config
.config/*
!.config/xmobar
.config/xmobar/*
!.config/xmobar/xmobarrc
.config/dunst/*
!.config/dunst/dunstrc
