*
!.gitignore

!.vimrc
!.profile
!.env
!.xprofile
!.XCompose
!.ripgreprc

!.emacs
!.emacs.d/
.emacs.d/*
!.emacs.d/early-init.el
!.emacs.d/straight/
.emacs.d/straight/*
!.emacs.d/straight/versions/
.emacs.d/straight/versions/*
!.emacs.d/straight/versions/default.el

!.bash_colors
!.bash_preexec
!.bashrc

!.looking-glass-client.ini

!.xmonad/
.xmonad/*
!.xmonad/xmonad.hs

!.config
.config/*

!.config/picom.conf
!.config/systemmonitorrc
!.config/dolphinrc

!.config/mpv
.config/mpv/*
!.config/mpv/mpv.conf

!.config/i3
.config/i3/*
!.config/i3/config

!.config/dunst
.config/dunst/*
!.config/dunst/dunstrc

!.config/rofi
.config/rofi/*
!.config/rofi/config.rasi

!.config/clipcat
.config/clipcat/*
!.config/clipcat/clipcatd.toml
!.config/clipcat/clipcatctl.toml
!.config/clipcat/clipcat-menu.toml

!.config/claudex
.config/claudex/*
!.config/claudex/config.json
!.config/claudex/CLAUDE.md.d
.config/claudex/CLAUDE.md.d/*
!.config/claudex/CLAUDE.md.d/01-memory-management.md
!.config/claudex/CLAUDE.md.d/02-git-workflow.md
!.config/claudex/CLAUDE.md.d/03-cli-best-practices.md
!.config/claudex/CLAUDE.md.d/04-code-exploration.md
!.config/claudex/CLAUDE.md.d/05-rust-development.md
!.config/claudex/CLAUDE.md.d/06-code-style.md

!.config/htop
.config/htop/*
!.config/htop/htoprc

!.config/systemd
.config/systemd/*
!.config/systemd/user
.config/systemd/user/*
!.config/systemd/user/plasma-xmonad.service
!.config/systemd/user/plasma-kwin_x11.service
!.config/systemd/user/plasma-workspace.target.wants
.config/systemd/user/plasma-workspace.target.wants/*
!.config/systemd/user/plasma-workspace.target.wants/plasma-xmonad.service
!.config/systemd/user/clipcat.service
!.config/systemd/user/dunst.service

!.config/fontconfig
.config/fontconfig/*
!.config/fontconfig/conf.d
.config/fontconfig/conf.d/*
!.config/fontconfig/conf.d/50-default-fonts.conf

!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/ffmpeg-mute
!.local/bin/chrome-headless
!.local/bin/emacsclient-wrapper
!.local/bin/journal-to-notifications
!.local/bin/translate-clipboard
!.local/bin/remove-wine-file-association
!.local/bin/nvm-package-json-node-version

!.local/share/
.local/share/*
!.local/share/konsole/
.local/share/konsole/*
!.local/share/konsole/scrollback-unlimited.profile

!.local/share/applications/
.local/share/applications/*
!.local/share/applications/emacsclient-wrapper.desktop
